@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

html, body {
  height: auto; /* Убираем фиксированную высоту */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
}

body {
  background: #222;
  color: #fff;
  
}
.tl-watermark_SEE-LICENSE {
  display: none !important;
}
